/*
https://encycolorpedia.com/bbd490
color reference;

*/
body{
    padding: 0; margin: 0;
}

.container{
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
   /* background-color: rgb(191, 171, 211); */
    background-color: rgb(187, 212, 144); 
}

.items ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items ul>li{
    list-style-type: none;
    color: white;
    justify-content: center ;
    align-items: center;
}

.lmao{
    margin-right: 15px;
}

.title{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 21px;
    font-family: 'Montserrat', sans-serif;
    color: #5a6447; 
   /* color: #731a8b; */
    
    /* color: #8a72b3; */
}


.items ul>li>a{
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #5a6447; 
    /*color: #731a8b;*/
}

.items ul>li>a:hover{
    color: azure;
    /*background-color: rgb(165, 142, 189); */
    background-color: #99ad77;
    transition: all 212ms ease-in-out;
}

.content{
    margin-left: 19px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
/* a:hover { text-decoration: none; } */
a:active { text-decoration: none; }

.nama{
    display: flex;
    align-items: center;
}

.content{

align-items: center;
justify-content: center;
}

