/*
https://encycolorpedia.com/bbd490
color reference;

*/
body{
    padding: 0; margin: 0;
}

.container{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.wrapper{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(187, 212, 144); 
}

.items ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.items ul>li{
    list-style-type: none;
    color: white;
    justify-content: center ;
    align-items: center;
}
.lmao{
    display: flex;
    height: 58.4px;
}
.menu-icon{
    display: none;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.title{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 21px;
    font-family: 'Montserrat', sans-serif;
    color: #5a6447; 
}


.items ul>li>a{
    padding: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #5a6447; 
}

.items ul>li>a:hover{
    color: azure;
    
    background-color: #99ad77;
    transition: all 212ms ease-in-out;
}

.content{
    margin-left: 19px;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

.nama{
    display: flex;
    align-items: center;
}

.content{

align-items: center;
justify-content: center;
}

 
@media only screen and (max-width: 768px) {
    #menuList{
        overflow: hidden;
    }
    .wrapper{
        flex-direction: column;
        align-items: center;
    }
    .items{
        width: 100%;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
        position: absolute;
        right: 0;

    }
    .menu-icon>img{
        width: 30px;
        height: 30px;
        
    }
    .title{
        margin-left: 0;
        padding-top: 20px;
        padding-left: 0px;
        
    }
    .content{
        margin-left: 0;
        margin-top: 20px;
    }
    .nama{
        margin-top: 20px;
    }
    .items ul{
        display: flex !important; 
        padding-left: 0px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .items ul>li{
        margin-top: 10px;
    }
    .items ul>li>a{
        padding: 0px;
        margin: 0px;
    }
}


